/* Reset */
/*supprimer tout les parametre par defaut du naviguateur web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    background-image: url("../img/bg1.jpg");
}
/* Logo */
.logo {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}
.logo img {
    width: 100px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Menu Icon */
/*activer le poiteur sur la zone d l'icone de menu humberger*/
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
/*là, on mets en position la premiere ligne de l'icone de humberger*/
.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */
/*le style des deux autre ligne qui reste */
.hamb-line::before, .hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}*
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
/* Header et sa fixation */
header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px gray;
    /*relative or stiky*/
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}
/* Nav menu */
/* on donne du style a noter menu*/
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: white;
}
.menu a:hover{
    background-color: gray;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
/* cette section permet de changer l'icone du menu en x: la barre de milieu devient transparente et 
les deux autres change d'orientation avec un angle de 45 degree*/
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/*summarydetail en html pour faire laffichaffage 
preparer les deux div
*/
/*la on va ajuster le menu si la taille de l'eran change*/
/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: gray;

    }

    .hamb{
        display: none;
    }
   
}
h1{
    font-weight: 200;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 400;
  }
.formulaire{
    width: 100%;
    margin: 3.2rem auto 0 auto;
    background: rgba(21, 20, 85, 0.7);
   padding: 2.3rem 0.5rem;
   border-radius: 0.3rem;
  }

/*modififcation de style du formulaire*/
  .container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    max-width: 700px;
    width: 100%;
    background-color: rgb(209, 209, 209);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .message input {
    width: 110%;
    padding:70px 200px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease; 
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
 
   
   form .button{
     height: 45px;
     margin: 70px 20px;
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: rgb(1, 1, 1);
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #ffffff, #ffffff);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #00ff08, #44ff00);
    }

    /*responsivite du formulaire*/
   @media(max-width: 768px){
    footer{
      display: none;
    }
   .container{
top: 0;    bottom: 0;
  }
  .title{
    position: relative;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
    footer{
      display: none;
    }
    .container{
      margin-bottom: 50px;
    }
  }
  footer h1{
    

    text-align:center;
    text-transform: uppercase; 
    font-size: 4rem;
    font-family: mv boli;
    color: #1F7203;
    margin-top: 20px;


}
h4{
  text-align: center;
  margin-bottom: 10px;
 }



