/* Reset */
/*supprimer tout les parametre par defaut du naviguateur web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h4{
    text-align: center;
    margin-bottom: 10px;
   }
/* Logo */
.logo {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}
.logo img {
    width: 100px;
}
/* Menu Icon */
/*activer le poiteur sur la zone d l'icone de menu humberger*/
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
/*là, on mets en position la premiere ligne de l'icone de humberger*/
.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */
/*le style des deux autre ligne qui reste */
.hamb-line::before, .hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}*
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
/* Header et sa fixation */
header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px gray;
    /*relative or stiky*/
    position: sticky;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* Logo */
.logo{
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}
/* Nav menu */
/* on donne du style a noter menu*/
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: white;
}
.menu a:hover{
    background-color: gray;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.side-menu, .wave {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
/* cette section permet de changer l'icone du menu en x: la barre de milieu devient transparente et 
les deux autres change d'orientation avec un angle de 45 degree*/
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
body{
    background-image: url("../img/bg1.jpg");
}
h3{
    justify-content:center;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
}
h1{
    text-align: center;
}

h4{
    text-align: center;
    margin-bottom: 10px;
   }
/*summarydetail en html pour faire laffichaffage 
preparer les deux div
*/
/*la on va ajuster le menu si la taille de l'eran change*/
/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: gray;
    }

    .hamb{
        display: none;
    }
}

/*styles de titres*/

.dessert, .formule, .plats {
     text-align: center; 
    position: center;

} 
.entre{
    text-align: center; 
   /* margin-left: 270px; */
   /*position: center; */
} 
.plat_prix{
    font-weight: bold;

}

/*la on defini la structure de notre div en forme de grille pour afficher les plats propose par
le magasin*/ 


.grid {
    margin: 0 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
     margin-top: 30px;
    justify-self: center;
    justify-items: center;
    margin-bottom: 30px;

    
  }
.cards.card{
    justify-self: center;
    width : 2px;
    height : 5px;
    margin-bottom: 10px;

}


/*responsivite de grid*/
@media (max-width: 768px) {
    .grid { 
        grid-template-columns: repeat(1, 1fr); grid-auto-flow:row;
    }
    .cards{
       justify-self: center;
    }
    .dessert,  .plats {
        text-align: center; 
       
       position: center;
   } 
   .entre{
       text-align: center; 
      
   } 
   footer{
    display: none;
  }
}
footer h1{
    text-align:center;
    text-transform: uppercase; 
    font-size: 4rem;
    font-family: mv boli;
    color: #1F7203;
    margin-top: 50px;

}


