/* Reset */
/*supprimer tout les parametre par defaut du naviguateur web*/
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-image: url("../img/bg1.jpg");
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Menu Icon */
/*activer le poiteur sur la zone d l'icone de menu humberger*/
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
/*là, on mets en position la premiere ligne de l'icone de humberger*/
.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */
/*le style des deux autre ligne qui reste */
.hamb-line::before, .hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}*
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
/* Header et sa fixation */
header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px gray;
    /*relative or stiky*/
    position: sticky;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    z-index : 1000
}
/* Logo */
.logo {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}
.logo img {
    width: 100px;
}

/* Nav menu */
/* on donne du style a noter menu*/
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: white;
}
.menu a:hover{
    background-color: gray;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.side-menu, .wave {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
/* cette section permet de changer l'icone du menu en x: la barre de milieu devient transparente et 
les deux autres change d'orientation avec un angle de 45 degree*/
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/*summarydetail en html pour faire laffichage 
preparer les deux div
*/
/*la on va ajuster le menu si la taille de l'ecran change*/
/* Responsiveness */
@media (min-width: 700px) {

    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: gray;

    }

    .hamb{
        display: none;
}

}
  /* le deffilment des 3 mots dans la pages dacceuil*/
  .main{
    /* height:85vh; */
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    margin-top: 70px;
    margin-bottom: 150px;
  }
  h1{

    text-align:center;
    text-transform: uppercase; 
    font-size: 4rem;
    font-family: mv boli;
    color: #1F7203;
    margin-top: 50px;

}

  /* menu coulissant*/
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: mv boli;
    color: #000000;
   
  }
  
  
  #spare-time{
    font-size: 1rem;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
h4{
  text-align: center;
  margin-bottom: 10px;
 }
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 700px){
    footer{
       display: none; 
    }
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #1F7203; 
    font-size: 2.125rem;
    font-family: mv boli;
    margin-top: 50PX;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }

::-webkit-scrollbar{
    width: 13px;
}
/*scroll bar modifie pour plus de beaute*/
::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background: #666565;
    border-radius: 15px;
}

.review .titre1{
  text-align:center;
    text-transform: uppercase;
    color: #1F7203; 
    font-size: 2.125rem;
    font-family: mv boli;
    margin-top: -100px
}
.review .titre1 span{
  text-align:center;
    text-transform: uppercase;
    color: #000000; 
    font-size: 2.125rem;
    font-family: mv boli;
    margin-top: 50PX;
    margin-left: 15px;
}

/*NOS RESTAURANT*/

.review{
  width: 100%;
   height: 100vh; 
  

}

.review h1{
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review h1 span{
  margin-left: 15px;
  color: #1c8d12;
  font-family: mv boli;
 
}


.review .review_box{
  width: 95%;
  margin: 70px auto;
  display: flex;
}

.review .review_box .review_card{
  width: 350px;
  height: 535px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 8px 20px;
  margin: 0 8px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.review .review_box .review_card .review_profile{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
  flex-direction: row;
}
@media (max-width: 700px) {
  /* .review_card .review .review_box.review_profile */
  
  .review .review_box{
    position:relative;
    margin-bottom: auto;
    flex-direction: column;
    align-items: center;
    
    
  }
  .review{
    margin-bottom: auto;
    justify-content: space-between;
  }
  .review .titre1{
    text-align:center;
      text-transform: uppercase;
      color: #1F7203; 
      font-size: 30px;
      font-family: mv boli;
      margin-top: -100px
  }
  .review .titre1 span{
    text-align:center;
      text-transform: uppercase;
      color: #000000; 
      font-size: 30px;
      font-family: mv boli;
      margin-top: 50PX;
     
  }
  
}
.review .review_box .review_card:hover .review_profile{
  transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text{
  text-align: center;
}

.review .review_box .review_card .review_text .name{
  color: #000;
  transition: 0.3s;
  font-size: 30px;
}

.review .review_box .review_card:hover .review_text .name{
  transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon{
  color: #fac031;
  transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon{
  transform: translateY(-10px);
}

.review .review_box .review_card .review_text .review_social i{
  margin: 5px 1px;
  font-size: 15px;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i{
  opacity: 1;
  transform: translateY(-8px);
}

.review .review_box .review_card .review_text p{
  text-align: center;
  line-height: 22px;
  transition: 0.3s;
}

.review .review_box .review_card:hover .review_text p{
  margin-top: 5px;
}


