/* Reset */
/*supprimer tout les parametre par defaut du naviguateur web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background-image: url("../img/bg1.jpg");
}

/* Menu Icon */
/*activer le poiteur sur la zone d l'icone de menu humberger*/
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
/*là, on mets en position la premiere ligne de l'icone de humberger*/
.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */
/*le style des deux autre ligne qui reste */
.logo {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}
.logo img {
    width: 100px;
}
.hamb-line::before, .hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}*
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
/* Header et sa fixation */
header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px gray;
    /*relative or stiky*/
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}
/* Nav menu */
/* on donne du style a noter menu*/
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: white;
}
.menu a:hover{
    background-color: gray;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
/* cette section permet de changer l'icone du menu en x: la barre de milieu devient transparente et 
les deux autres change d'orientation avec un angle de 45 degree*/
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/*summarydetail en html pour faire laffichaffage 
preparer les deux div
*/
/*la on va ajuster le menu si la taille de l'eran change*/
/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: gray;

    }

    .hamb{
        display: none;
    }
}
/*css de la table*/
table
{
  border-collapse: collapse;
}

caption
{
  font-weight: bold;
}

th, td
{
  padding: 0.2em;
  border: 0.2rem solid rgb(0, 0, 0);
  
}

table
{
margin: auto;
margin-top: 50px;
}
td
{
text-align :center;


}


/*fin de css de la table*/
h2{
    text-align: center;
    margin-top: 30px;
    color: rgb(0, 0, 0);
}
p{
    text-align: center;
    font-size: 18PX;
    margin-bottom: 10px;
}
.repas2euro{
    margin-top: 30px;
    text-align :center;
}
h3{
    text-align: center;
    margin-bottom: 10px;
}
footer h1{
    

    text-align:center;
    text-transform: uppercase; 
    font-size: 4rem;
    font-family: mv boli;
    color: #1F7203;
    margin-top: 20px;


}

h4{
    text-align: center;
    margin-bottom: 10px;
   }
.video{
    text-align: center;
}
footer h1{
    

    text-align:center;
    text-transform: uppercase; 
    font-size: 4rem;
    font-family: mv boli;
    color: #1F7203;


}

@media (max-width: 700px) {
    .video iframe{
        /* position:absolute; */
	/* top:0;
	left:0; */
    
    margin-bottom: 20px;
	width:70%;
	height:80%; 
    }
    footer {
        display: none;
    }
}


